<header class="header">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="site-title" rel="author" 
        href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/img/logo.jpg' | relative_url }}" width="30" height="30" class="d-inline-block align-top" alt="logo"/>
      {{ site.title | escape }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for link in site.data.navigation['en'] %}
          <li class="nav-item">
            <a class="nav-link"
            href="{{ link.url | relative_url }}">
              {{ link.title | escape }}
            </a>
          </li>
        {% endfor %}
        
      </ul>
    </div>
  </nav>
  



</header>