.language-switcher {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
  }
  
.language-switcher select {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
   